
			<div id="site-description">
				<div class="top-menu">
					<ul class="links">
						<li class="first"><a href="http://www.debianizzati.org/">Front</a></li>
						<li class="active"><a href="http://forum.debianizzati.org">Forum</a></li>
						<li><a href="http://guide.debianizzati.org/">Guide</a></li>
						<li><a href="http://e-zine.debianizzati.org/">E-zine</a></li>
						<li><a href="http://www.debianizzati.org/irc">Irc</a></li>
						<li><a href="http://www.debianizzati.org/blog">Blog</a></li>
						<li class="last"><a href="http://www.debianizzati.org/planet">Planet</a></li>
					</ul>
				</div>
				<div class="logo-name">
					<div class="logo-img">
						<a href="{U_INDEX}" title="{L_INDEX}" id="logo">{SITE_LOGO_IMG}</a>
					</div>
					<div class="site-name">
						<h1><a href="http://www.debianizzati.org" title="Front">{SITENAME}</a></h1>
						<p>{SITE_DESCRIPTION}</p>
					</div>
				</div>
				<p class="skiplink"><a href="#start_here">{L_SKIP}</a></p>
			</div>
			
			
			<div class="full-width">
				<p>Forum Debianizzati: vieni a discutere con noi di Debian e di Software Libero!</p>
			</div>
			<!-- <div class="full-width"><p><b>Buone Feste</b> a tutti!!!</p></div> -->